footer.l-siteFooter(role='contentinfo')

script(src='assets/js/scripts.js')
//- script(src='assets/js/scripts-extra.js')

//- Google Analytics: change UA-XXXXX-X to be your site's ID
script
  include ../script-GA.js
