include ./siteLogo.jade
include ./siteSearch.jade
include ./siteNavigation.jade

header.l-siteHeader(role='banner')
  block logo
    +siteLogo(siteName)

  block search
    //- +siteSearch

  block navigation
    //- +siteNavigation
