header.l-siteHeader(role='banner')
  block logo
    div.l-siteLogo
      div.b-siteLogo(itemscope, itemtype='http://schema.org/Organization')
        a.b-siteLogo__link(href='/', itemprop='url')
        img.b-siteLogo__icon(itemprop='logo', src='img/blocks/l-siteLogo/l-siteLogo-logo.png', alt='site name', title='site name')
