mixin siteCopyright
  address.l-siteCopyright.vcard(itemscope, itemtype='http://schema.org/Organization')
    .b-siteCopyright
      | © 2015&nbsp;
      a.b-siteCopyright__link.fn.n.org.url.work(rel='me', itemprop='name', href='/')
        = siteName
      | . All Rights Reserved
    //-
      .b-developerCopyright
        | Developed by&nbsp;
        a.b-developerCopyright__link(rel='friend', href='/', target='_blank') DeveloperName
