mixin siteNavigationBottom
  nav.l-siteNavigationBottom(role='navigation')
    ul.b-bottomNavigation
      li.b-bottomNavigation__item.-state_current
        a.b-bottomNavigation__link(href='/') Home
