mixin siteSearch
  .l-siteSearch
    form.b-siteSearch(role='search', method='post', action='/')
      label.b-siteSearch__label.g-visuallyhidden(for='search-text') Search:
      input.b-siteSearch__input(type='search', spellcheck='true', value='', name='search', id='search-text')
      input.b-siteSearch__button(type='submit', value='Search')
