mixin siteLogo(siteName)
  .l-siteLogo
    .b-siteLogo(itemscope, itemtype='http://schema.org/Organization')
      a.b-siteLogo__link(href='/', itemprop='url')
        img.b-siteLogo__icon(itemprop='logo', src='assets/img/blocks/l-siteLogo/l-siteLogo-logo.png', alt=siteName, title=siteName)
