a {
	&:hover {
		text-decoration: none;
	}
}

.l-html {

}

.l-body {
	background: #fff;
}


/**
 * wrapper
 */
.l-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: $site-width;
	min-height: 100vh;
}

/**
 * content
 */
.l-content {
	position: relative;
	flex: 1;
}


/**
 * main
 */
.l-contentText {
	position: relative;
	display: block;
}
