/**
 * Image replacement
 * .g-ir

 * Add the `.g-ir` class to any element you are applying image-replacement to. When
 * replacing an element's content with an image, make sure to also set a specific
 * `background-image: url(pathtoimage.png);`, `width`, and `height` so that your
 * replacement image appears.
 */
.g-ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/**
 * Telephone number
 */
.g-tel {
  @include tel;
}


/**
 * Overlay with loading icon
 */
.g-loading {
  position: relative;
  opacity: .6;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border: 6px solid #eaeaea;
    border-top-color: #282828;
    border-radius: 50%;
    content: '';
    transform: translate(-50%, -50%);
    animation: spinner 1.2s ease infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
