/**
 * Image replacement
 * .g-ir

 * Add the `.g-ir` class to any element you are applying image-replacement to. When
 * replacing an element's content with an image, make sure to also set a specific
 * `background-image: url(pathtoimage.png);`, `width`, and `height` so that your
 * replacement image appears.
 */
.g-ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/**
 * Telephone number
 */
.g-tel {
  @include tel;
}


/**
 * Overlay with loading icon
 */
.g-loading {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/loading-ico.gif') 50% 50% no-repeat rgba(#fff, .8);
  }
}
