doctype html
html(class='no-js')
  include ./includes/head.jade
  body
    include ./includes/blocks/header.jade

    div.l-content
      main.l-contentText(role='main')

    include ./includes/blocks/footer.jade
