extends ./includes/layout.jade
block title
  title Page title

block main
  main.l-contentText(role='main')
    h1 Main site title
    p Main site content

block sidebar
  aside.l-sidebar(role='complementary').
    Sidebar content
