/* ==========================================================================
   Queries for Tablet Design.
   Theses examples override the primary ('wide screen') styles.
   Modify as content requires.
   ========================================================================== */

.-device_tablet {

}