/*
 * Image replacement
.g-ir

Add the `.g-ir` class to any element you are applying image-replacement to. When
replacing an element's content with an image, make sure to also set a specific
`background-image: url(pathtoimage.png);`, `width`, and `height` so that your
replacement image appears.
*/
.g-ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/*
 * Telephone number
*/
.g-tel {
  color: inherit;
  cursor: default;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  .-device_desktop & {
    pointer-events: none;
  }
}
