/**
* @subsection Main Site Nav
*/
.l-siteNavigation {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 50px;
}
.b-mainNavigation {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;

  &__item {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;

    &.-state_current {

    }
  }
  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}