/**
* @section Site Copyright
*/
.l-siteCopyright {
  color: #464646;
  font: 11px $Arial;
}
.b-siteCopyright {
  margin: 0 0 15px;
  text-transform: uppercase;

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}