@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$file}.eot');
    src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$file}.woff') format('woff'),
         url('../fonts/#{$file}.ttf') format('truetype'),
         url('../fonts/#{$file}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {*zoom: 1;}
}

@mixin aligncenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin resetList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin beforeafter {
  content: '';
  position: absolute;
}

@mixin hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
