@charset "utf-8";

@import 'normalize';
@import 'h5b';
@import 'compass/css3/images';
@import 'mixins';
@import 'base64';


/**
* @section Variables
*/
$fontArial: Arial, Helvetica, sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

$siteWidth: 980px;


/**
* @section Gradients
*
* %gradient1 {…}
* %gradient2 {…}
*/

@import 'blocks/g-blocks';


/* ==|== primary styles =====================================================
   Authors: %Author Name%
   ========================================================================== */

/**
* @section Fonts
*
* @include font-face($name, $file, $weight: normal, $style: normal);
* @include font-face('PTSans', 'PTSansRegular-webfont');
* @include font-face('PTSans', 'PTSansItalic-webfont', normal, italic);
* @include font-face('PTSans', 'PTSansBold-webfont', bold);
*/

a {
  &:hover {
    text-decoration: none;
  }
}

/**
* @section b-text
*/
.b-text {
  h1 {

  }
  h2 {

  }
  /* ... */
}

html {

}
body {
  background: #fff;
}


/**
* @section wrapper
*/
.l-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: $siteWidth;
}

@import 'blocks/l-siteHeader';
@import 'blocks/l-siteLogo';
@import 'blocks/l-siteSearch';
@import 'blocks/l-siteNavigation';


/**
* @section content
*/
.l-content {
  position: relative;
}


/**
* @section main
*/
.l-contentText {
  position: relative;
  display: block;
}


/**
* @section Main Site Footer
*/
.l-siteFooter {

}


@import 'blocks/l-siteNavigationBottom';
@import 'blocks/l-siteCopyright';
@import 'blocks/b-developerCopyright';


/**
* Responsive & Print styles
*/
@import 'responsive/device_desktop';
@import 'responsive/device_tablet';
@import 'responsive/device_mobile';
@import 'responsive/media_queries';
@import 'print';