/* bourbon test */
.test_bourbon {font-size: golden-ratio(14px,  1);}
/* neat test */
.test_neat    {@include outer-container;}
/* refills test */
.test_refills {width: $medium-screen};
    ///* bitters test */
    //.test_bitters {font-size: $base-font-size;}
/* test PostCSS */
.test_postcss {
  background: linear-gradient(to top, black, white);
}
/* test CSSNext */
.test_cssnext {
  filter: blur(4px);
}
