/**
 * @section mainNavigation
 */
.l-mainNavigation {
  clear: both;
  width: 100%;
  height: 50px;
}
.b-mainNavigation {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;

  &__item {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;

    &.-state_active {

    }
  }

  &__link {
    @include hover-underline;
    display: block;
    color: inherit;
  }
}
