/**
 * @section siteCopyright
 */
.l-siteCopyright {
  color: #464646;
  font: 11px $Arial;
}
.b-siteCopyright {
  margin: 15px 0;
  @include first-last-margin;
  text-transform: uppercase;

  &__link {
    @include hover-underline;
    color: inherit;
  }
}
