/**
 * @section siteNavigationBottom
 */
.l-siteNavigationBottom {

}
.b-bottomNavigation {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    color: #464646;

    &.-state_current {

    }
  }

  &__link {
    @include hover-underline;
    color: inherit;
  }
}
