/**
* @section b-text
*/
.b-text {
  h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  p {}

  ul {}
  ol {}

  dl {}
  dt {}
  dd {}

  blockquote

  a {
    @include hover-underline;
  }

  img {
    max-width: 100%;
  }
}