/**
 * @section b-text
 *
 * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 * !!!                                                     !!!
 * !!! Please don't edit this file without a valid reason! !!!
 * !!!                                                     !!!
 * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */
.b-text {
  @include clearfix;

  h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, code {
    margin: 1em 0;
    @include first-last-margin;
  }

  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  p {}

  ul {}
  ol {}

  dl {}
  dt {}
  dd {}

  blockquote {}

  pre,
  code {
    display: block;
    padding: 5px 10px 5px 8px;
    background: #e9ebec;
    border-left: 2px solid #000;
  }

  a {
    @include underline-hover;

    &[href ^= tel] {
      @include tel;
    }
  }

  img {
    max-width: 100%;
  }
}
