a {
  &:hover {
    text-decoration: none;
  }
}

.l-html {

}
.l-body {
  background: #fff;
}


/**
* @section wrapper
*/
.l-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: $site-width;
}

/**
* @section content
*/
.l-content {
  position: relative;
}


/**
* @section main
*/
.l-contentText {
  position: relative;
  display: block;
}
