.l-mainNavigation {

}
.b-mainNavigation {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {

    &.-state_active {}
  }

  &__link {
    @include hover-underline;
    display: block;
    color: inherit;
  }
}
