.l-body, .l-html {
  &.-page_iDeusSitemap {
    height: 100%;
  }
}


/**
* @section sitemapWrapper
*/
.l-sitemapWrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #fff;
  color: #292929;
  font: 15px/1.3 $Roboto;
}


/**
* @section sitemapHeader
*/
.l-sitemapHeader {
  background: #2b2d31 url('../img/blocks/sitemap/siteHeader-bg.jpg') repeat;
}
.b-sitemapHeader {
  max-width: $sitemap-width;
  margin: 0 auto;
  padding: 38px 20px 42px;
}


/**
* @section sitemapLogo
*/
.l-sitemapLogo {
  overflow: hidden;
  width: 131px;
  height: 47px;
}
.b-sitemapLogo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
  }
}


/**
* @section sitemapContent
*/
.l-sitemapContent {
  padding: 0 0 185px;
}
.b-sitemapContent {
  max-width: $sitemap-width;
  margin: 0 auto;
  padding: 40px 20px;
}


/**
* @section clientLogo
*/
.l-clientLogo {
  margin: 33px 0 45px;
  padding: 0;
}
.b-clientLogo {

  &__link {
    display: inline-block;
  }

  &__icon {
    color: #000;
  }
}


/**
* @section sitemapLink
*/
.b-sitemapLink {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }
}


/**
* @section sitemapButton
*/
.b-sitemapButton {
  position: relative;
  min-width: 155px;
  display: inline-block;
  padding: 11px 37px 8px 30px;
  box-sizing: border-box;
  border-radius: 18px;
  border: 1px solid #ed1b23;
  background: #fff;
  box-shadow: none;
  color: #292929;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  cursor: pointer;

  &:before {
    position: absolute;
    right: 28px;
    top: 15px;
    display: block;
    width: 6px;
    height: 10px;
    background: url('../img/blocks/sitemap/sitemapButton-ico.png') -21px 0 no-repeat;
    content: '';
  }

  &:hover {
    background: #ed1b23;
    color: #fff;
    text-decoration: none;

    &:before {
      background-position: 0 0;
    }
  }

  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }
}


/**
* @section sitemapTabs
*/
.l-sitemapTabs {}
.b-sitemapTabs {

  &__title {
    @include clearfix;
    box-sizing: border-box;
    margin: 20px 0 0;
    background: #fafafa;
    color: #636363;
    font: 18px/1.3 $RobotoSlab;
    cursor: pointer;

    &.-state_active {
      border-bottom: 2px solid #d4d4d4;
      background: transparent;
      color: #ec1b23;
    }
  }

  &__titleText {
    padding: 20px 0 15px 20px;
    float: left;
  }

  &__arrow {
    width: 60px;
    height: 60px;
    position: relative;
    float: right;
    background: #f2f2f2;

    &:before {
      position: absolute;
      top: 23px;
      right: 20px;
      display: block;
      width: 16px;
      height: 16px;
      background: url('../img/blocks/sitemap/sitemapTabs__title-ico.png') -58px 0 no-repeat;
      content: '';
    }

    .-state_active & {
      background: transparent;

      &:before {
        top: 26px;
        right: 28px;
        background-position: -26px 0;
      }
    }
  }
  &__content {
    padding: 20px 0 0;
    margin: 0 0 20px;
    display: none;

    &.-state_active {
      display: block;
    }
  }

  &__table {
    width: 100%;

    tr {
      border-bottom: 1px solid #eaeaea;
    }

    tbody tr {
      &:last-child {
        border-bottom: 0;
      }
    }

    td,
    th {
      padding: 13px 20px 16px;

      &:first-child {
        width: 47%;
      }

      &.-type_link {
        padding-right: 2px;
        text-align: right;
      }

      &.-view_important {
        font-size: 16px;
        text-transform: uppercase;
      }

      &.-state_inactive {
        color: #c1c1c1;
      }
    }

    th {
      color: #ec1b23;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: normal;
      text-align: left;

      &.-type_link {
        padding-right: 60px;
      }
    }
  }
}


/**
* @section sitemapFooter
*/
.l-sitemapFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.b-sitemapFooter {
  max-width: $sitemap-width;
  margin: 0 auto;
  padding: 20px;
}


/**
* @section sitemapCopyright
*/
.l-sitemapCopyright {}
.b-sitemapCopyright {
  color: #c1c1c1;
  text-align: center;
  font-style: normal;

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
    }
  }
}
