.l-siteLogo {
  overflow: hidden;
  width: 200px;
  height: 150px;
}
.b-siteLogo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
  }
}
