/**
 *
 * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 * !!!                                                     !!!
 * !!! Please don't edit this file without a valid reason! !!!
 * !!!                                                     !!!
 * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */
.b-text {
  @include clearfix;

  h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, code {
    margin: 1em 0;
    @include first-last-margin;
  }

  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  p {}

  ul {}
  ol {}

  dl {}
  dt {}
  dd {}

  blockquote {}

  pre,
  code {
    display: block;
    padding: 5px 10px 5px 8px;
    background: #e9ebec;
    border-left: 2px solid #000;
  }

  a {
    @include underline-hover;

    &[href ^= tel] {
      @include tel;
    }
  }

  img {
    max-width: 100%;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin: .375em auto 1em;
    margin-left: auto;
  }

  .alignright {
    float: right;
    margin: .375em 0 1em 1em;
  }

  .alignleft {
    float: left;
    margin: .375em 1em 1em 0;
  }

  .alignnone {

  }

  .wp-caption {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;

    img {

    }
  }

  .wp-caption-text {
    margin-top: .5em;
    text-align: center;
  }

  .size-auto,
  .size-full,
  .size-large,
  .size-medium,
  .size-thumbnail {
    max-width: 100%;
    height: auto;
  }

  .gallery {}
  .gallery dl {}
  .gallery dt {}
  .gallery dd {}
  .gallery dl a {}
  .gallery dl img {}
  .gallery-caption {}

  .wp-smiley {
    margin: 0;
    max-height: 1em;
  }
}
