/**
 * @section Fonts
 *
 * You can add fonts by mixin:
 * @include font-face($name, $file, $weight: normal, $style: normal);
 * @include font-face('PTSans', 'PTSansRegular');
 * @include font-face('PTSans', 'PTSansItalic', normal, italic);
 * @include font-face('PTSans', 'PTSansBold', bold);
 */
$Arial:       Arial, 'Helvetica Neue', Helvetica, sans-serif;
$OpenSans:   'Open Sans', sans-serif;
$Roboto:     'Roboto', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;
