@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$file}.woff2') format('woff2'),
         url('../fonts/#{$file}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin tel {
  color: inherit;
  cursor: default;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    pointer-events: none;
  }
}

@mixin aligncenter {
/*
  NEED TEST
  // Add styles to parent el prevent elements to be blurry due to the element being placed on a “half pixel”
  .parent-element {
    transform-style: preserve-3d;
  }
*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin aligncenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin resetList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin beforeafter {
  content: '';
  position: absolute;
}

@mixin hover-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin underline-hover {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

@mixin first-last-margin {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin first-last-hor-margin {
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin responsive($breakpoint) {
  @media screen and (#{$breakpoint}) {
    @content;
  }
}
