@charset "utf-8";

@import 'normalize';
@import 'h5b';

/* Import Bourbon */
@import 'bourbon';
/* Import Bourbon:Refills */
// Neat Settings -- must be imported before Neat
// If you want to use Neat functions in Bitters, you can @import "grid-settings"; before Neat and import the rest of bitters after.
@import "base/grid-settings";
/* Import Bourbon:Neat */
@import 'neat';
/* Import Bourbon:Bitters */
@import 'base/base';

@import 'mixins';
@import 'base64';

/* Project files… */
@import 'blocks/g-blocks';
@import 'fonts';

/* bourbon test */
#test_bourbon {font-size: golden-ratio(14px,  1);}
/* neat test */
#test_neat    {@include outer-container;}
/* bitters test */
#test_bitters {font-size: $base-font-size;}
/* refills test */
#test_refills {width: $medium-screen};

#test_watch5 {color: #f00;}

/**
* @section Settings
*/
$siteWidth: 980px;

/**
* @section Gradients
*
* %gradient1 {…}
* %gradient2 {…}
*/

/**
* @section Sprites
*
* $icons: sprite-map('blocks/block/icons/*.png', $spacing: 20px);
*
* .b-icon {
    background: $icons no-repeat;
*   &.-type_example {background-position: sprite-position($map, $sprite, $offset-x, $offset-y, $use-percentages);}
*   &.-type_arrow {background-position: sprite-position($icons, arrow);}
*   &.-type_login {background-position: sprite-position($icons, login-ico, 3px, -2px);}
* }
*/



/* ==|== primary styles =====================================================
   Authors: %Author Name%
   ========================================================================== */



a {
  &:hover {
    text-decoration: none;
  }
}

/**
* @section b-text
*/
.b-text {
  h1 {

  }
  h2 {

  }
  /* ... */
}

html {

}
body {
  background: #fff;
}


/**
* @section wrapper
*/
.l-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: $siteWidth;
}

@import 'blocks/l-siteHeader';
@import 'blocks/l-siteLogo';
@import 'blocks/l-siteSearch';
@import 'blocks/l-siteNavigation';


/**
* @section content
*/
.l-content {
  position: relative;
}


/**
* @section main
*/
.l-contentText {
  position: relative;
  display: block;
}


@import 'blocks/l-siteFooter';


@import 'blocks/l-siteNavigationBottom';
@import 'blocks/l-siteCopyright';
@import 'blocks/b-developerCopyright';


/**
* Responsive & Print styles
*/
@import 'responsive/device_desktop';
@import 'responsive/device_tablet';
@import 'responsive/device_mobile';
@import 'responsive/media_queries';
@import 'print';
