@charset "utf-8";

@import 'normalize';
@import 'h5b';

/* Import Bourbon */
  @import 'bourbon';

  /* Import Bourbon:Refills */
    // Neat Settings -- must be imported before Neat
    $border-box-sizing: false;

  @import "base/grid-settings"; // If you want to use Neat functions in Bitters,
                                // you can @import "grid-settings"; before Neat and import the rest of bitters after.
  /* Import Bourbon:Neat */
  @import 'neat';

///* Library files… */
  ///* Import Bourbon:Bitters */
  //@import 'base/base';
  ///* Import Google MDL */
  //@import 'plugins/_material.min';


@import 'mixins';
@import 'fonts';

/* Project files… */
  /* Generated… */
  @import 'sprites';
  @import 'base64';

          ///* bourbon test */
          //.test_bourbon {font-size: golden-ratio(14px,  1);}
          ///* neat test */
          //.test_neat    {@include outer-container;}
          ///* bitters test */
          //.test_bitters {font-size: $base-font-size;}
          ///* refills test */
          //.test_refills {width: $medium-screen};
          ///* test PostCSS */
          //footer {
          //  background: linear-gradient(to top, black, white);
          //}
          ///* Test Watch */
          //.test_watch {color: #f00;}

/* ==|== primary styles =====================================================
   Authors: %Author Name%
   ========================================================================== */
/**
* @section Settings
*/
$siteWidth: 980px;


/* Framework Common Libraries */
@import 'blocks/g-blocks';

/* Project only code */
@import 'blocks/common';
@import 'blocks/b-text';
@import 'blocks/l-siteHeader';
@import 'blocks/l-siteLogo';
@import 'blocks/l-siteSearch';
@import 'blocks/l-siteNavigation';
@import 'blocks/l-siteFooter';
@import 'blocks/l-siteNavigationBottom';
@import 'blocks/l-siteCopyright';
@import 'blocks/b-developerCopyright';


/**
* Responsive & Print styles
*/
@import 'responsive/device_desktop';
@import 'responsive/device_tablet';
@import 'responsive/device_mobile';
@import 'responsive/media_queries';
@import 'print';
